<template>
<div>
  <item v-for="(item, index) in items" :key="index" :item="item"/>
</div>
</template>

<script>
import Item from '../components/Item.vue'

export default {
  name: 'Itemlist',
  async created () {
    this.$bar.start()
    try {
      await this.$store.dispatch('fetchNewsList', { type: 'top' })
    } catch (err) {
      console.log(err)
    }
    this.$bar.finish()
  },

  data () {
    return {
      currentPage: 0
    }
  },
  components: {
    Item
  },

  computed: {
    items () {
      return this.$store.getters.getDisplayItems
    }
  }
}
</script>
<style scoped>

</style>
