<script>
export default {
  name: 'Item',
  props: {
    item: {
      url: { type: String },
      title: { type: String },
      score: { type: Number }
    }
  }
}
</script>
<template>
  <div class="item">
    <ul class="item-list">
<li class="item__score">{{ item.score}}</li>
    <li class="item__link">
      <a :href="item.url">{{ item.title}}</a>
    </li>
    </ul>

  </div>
</template>

<style scoped lang="scss">
.item {
   max-width: 600px;
   margin: 5px auto;
   border-bottom: 1px solid grey;

  &__score {
     width: 45px;
     height: 30px;
     box-sizing: border-box;
     border-radius: 200px;
     background-color: aqua;
     color: white;
     font-size: 16px;
     font-weight: 600;
     padding: 5px;
     margin-right: 10px;
     text-align: center;
  }
  &__link{
    flex: 1;

    a{
      text-decoration: none;
      color: burlywood;
    }
  }

  &-list {
    width: 100%;
    display: flex;
   justify-content: space-between;
   align-items: center;
    list-style: none;
  }
}

</style>
