<script>
export default {
  name: 'ProgressBar',
  data () {
    return {
      show: false,
      percent: 0,
      timer: null
    }
  },
  methods: {
    start () {
      this.percent = 0
      this.show = true
      this.timer = setInterval(() => { this.percent += 2 }, 100)
    },
    finish () {
      this.percent = 100
      this.show = false
      clearInterval(this.timer)
    }
  }
}
</script>

<template>
  <div class="progress"
  :class="{hidden: !this.show}"
  :style="{width: `${percent}%`}"
  > </div>
</template>

<style scoped>
.progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  width: 0%;
  transition: width 0.2s, opacity 0.4s;
  opacity: 1;
  background-color: #ffca2b;
  z-index: 999999;
}
.hidden {
  opacity: 0;
}
.error {
  background-color: #ff0000;
}
</style>
